/* основний колір тексту #757575 */
/* колір заголовків #212121 */
/* колір фону #ffffff */
/* сірий колір тексту rgba(255,255,255,0.6)*/
/* колір акценту #2196F3*/
/* колір фону #2F303A*/
/* колір другорядного фону #F5F4FA*/
/* колір логотипу другорядний #000000 */

:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --primery-background-color: #ffffff;
  --accent-color: #2196f3;
  --background-footer: #2f303a;
  --logo-color: #000000;
  --hero-text: #ffffff;
  --background-btn: #f5f4fa;
  --contact-color: #ffffff99;
}

html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  margin: 0;

  background-color: var(--primery-background-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.aaaa {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 100px;
  background-color: green;
}

/* Logo */
.logo {
  color: var(--logo-color);

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* Contacts-nav */

.contacts-nav .link {
  color: var(--primery-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}
/* Hero */
.hero {
  background-color: var(--background-footer);
}
.hero-title {
  color: var(--hero-text);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
.button {
  background-color: var(--accent-color);
  color: var(--hero-text);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
}
/* display: flex;
   align-items: center;*/

/* Section */
.section-title {
  color: var(--title-text-color);

  /* font-weight: 700; */
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Features */
.features-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}
/* Team */
.team-section {
  background-color: var(--background-btn);
}
.team-list .title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;
}
.team-list .work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  /* text-align: center; */
  letter-spacing: 0.03em;
}
/* Product */
.product-list .title {
  color: var(--title-text-color);

  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;
}
.product-list .description {
  color: var(--primery-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;
}
/* Filter list btn */
.filter-list .btn {
  background-color: var(--background-btn);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}
.filter-list .btn:hover,
.filter-list .btn:focus {
  background-color: var(--accent-color);
  color: var(--hero-text);
}
/* Footer */
.footer {
  background-color: var(--background-footer);
}
/* Logo footer */
.logo-wight {
  color: var(--hero-text);
}
/* Address */
.address-nav .link {
  font-style: normal;
}
.address-office {
  color: #ffffff;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.aaaa {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  height: 100px;
  background-color: green;
  outline: #2196f3;
}
